
.Header {
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 80px;
  border-bottom: 1px solid rgba(82, 128, 198, 0.12);
  background: #FFF;
}
.HeaderLogo{
  display: flex;
  align-items: flex-start;
  text-decoration: none;

  h2{
    align-items: center;
    padding-right: 12px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 29px;
    cursor: pointer;
  }
}

.HeaderImgLogo{
  margin-top: 16px;
  margin-bottom: 15px;
  margin-right: 11.58px;
  cursor: pointer;
}

.BtnSignUp{
  margin-left: 861px;
  width: 123.158px;
  height: 38px;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 17px;
  background: #3C72FF;
  border-width: 0;
  margin-top: 21px;
  cursor: pointer;

  .TextBtnSignUp{
    display: flex;
    margin: 0;
    justify-content: center;
  }



  &:hover {
    background-color: transparent;
    border: 2px solid blue;
    color: blue; /* Синий текст при наведении */

    h2 {
      color: blue; /* Синий текст при наведении */
    }
  }
}

.inputsWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  input::placeholder {
    display: flex;
    margin-right: 19px;
    color: rgba(0, 0, 0, 0.40);
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;

    font-weight: 500;
    line-height: 104.4%; /* 20.88px */
  }
  input{
    width: 365px;
    height: 51px;
    border-radius: 18px;
    border: 2px solid rgba(60, 114, 255, 0.24);
  }

  .EmailInput{
    margin: 61px 0 20px 0;

    ::placeholder {
      color: blue;
      font-size: 1.5em;
    }
  }
  .PasswordInput{
    margin: 0 0 27px
  }

  button{
    border: none;
    width: 365px;
    height: 51px;
    border-radius: 17px;
    background: #3C72FF;
    margin: 0 0 13px 0;

    div{
      color: #FFF;
      text-align: center;
      font-family: Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }


  }
  .ForgetPasswordWrapper{
    margin: 0 0 52px 0;
  }
}

.HeaderImgLogoWrapper{
  margin-top: 30px;
  cursor: pointer;
}


.BtnLogin{
  margin-left: 861px;
  width: 123.158px;
  height: 38px;
  color: #3C72FF;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 17px;
  background-color: #cbdaff;
  border-width: 0;
  margin-top: 21px;
  cursor: pointer;

  .TextBtnLogin{
    display: flex;
    margin: 0;
    justify-content: center;
  }
}