.bigScreen {
  font-size: 24px;
  /* Другие стили для больших экранов */
}

.smallScreen {
  font-size: 16px;
  /* Другие стили для маленьких экранов */
}

@media (max-width: 1120px){
  .main-second {
    padding-top: 230px!important;
  }
}

@media (max-width: 265px) {
  .main{
    padding-top: 230px!important;
  }
}
