.horizontal1 {
  display: flex;
  background: #FFFFFF;
  margin-top: 10.37rem;

  .card1 {
    border: 1px solid red;
    margin-left: 396px;
    width: 520px;
  }

  .card2 {
    border: 1px solid red;
  }

  .mainTextBody {
    color: #1F2D49;
    font-family: Raleway;
    font-size: 4.75em; /* 76px converted to em */
    font-style: normal;
    font-weight: 700;
    line-height: 1.368; /* 104.4% converted to em */
  }

  .mainTextDrawer {
    color: #1F2D49;
  }

  .aboveBlocks{
    position: absolute;
    display: flex;
  }

  .btnTry {
    width: 15.75rem;
    height: 3.0625rem;
    flex-shrink: 0;
    border-radius: 1.0625rem;
    background: #3C72FF;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    h2 {
      color: #FFF;
      text-align: center;
      font-family: Raleway;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &:hover {
      background: lighten(#3C72FF, 5%);
    }

    &:active {
      background: darken(#3C72FF, 5%);
    }

    .btnLearn {
      width: 15.75rem;
      height: 3.0625rem;
      flex-shrink: 0;
      border-radius: 1.0625rem;
      background: #3C72FF;
      border: none;
      cursor: pointer;
      transition: background 0.1s ease-in-out;


      &:hover {
        background: lighten(#3C72FF, 5%);
      }

      &:active {
        background: darken(#3C72FF, 5%);
      }

      div {
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .btnWhy {
      width: 8.8125rem;
      height: 3.0625rem;
      flex-shrink: 0;
      border-radius: 0.375rem;
      background: #E4ECFF;
      border: none;
      cursor: pointer;
      transition: background 0.1s ease-in-out;

      &:hover {
        background: lighten(#E4ECFF, 2%);
      }

      &:active {
        background: darken(#E4ECFF, 5%);
      }
    }
  }


  .blueDater {
    margin-top: 87px;
    background: linear-gradient(262deg, #3C72FF 42.69%, #0065FC 91.14%);
   margin-left: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Raleway;
    font-size: 76px;
    font-style: italic;
    font-weight: 800;
    line-height: 104.4%; /* 79.344px */
  }


  .horizontal2 {
    display: flex;
    align-items: center;
  }

  .textFuture {
    color: #1F2D49;
    font-family: Raleway;
    font-size: 4.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 104.4%;
  }

  .paragraph {
    color: rgba(31, 45, 73, 0.86);
    font-family: Raleway;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 108.4%; /* 1.355rem */
  }

  .secondLeft {
    padding: 30px;
    margin-right: 28em;

  }


  .clicks {
    color: #cbdaff;
    font-family: Raleway;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 114.9%; /* 1.43625rem */
    width: 29.5rem;
  }
}
.card {
  width: 21.9375rem;
  height: 28.25rem;
  flex-shrink: 0;
  border-radius: 3rem;
  background: #E4ECFF;
  padding-top: 5em;
  margin-right: 2.12em;
}

.textP {
  display: flex;
  color: #1F2D49;
  font-family: Raleway;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 104.4%; /* 2.61rem */
  display: flex;

}


.container{
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.textSure{
justify-content: center;
}

.inputEmails{
  width: 30.25rem;
  height: 5.25rem;
  flex-shrink: 0;
  border-radius: 1.6875rem 0rem 0rem 1.6875rem;
  background: #E4ECFF;
  border: none;
}

.btnBracket{
  width: 5.25rem;
  height: 5.25rem;
  flex-shrink: 0;
  border-radius: 0rem 1.6875rem 1.6875rem 0rem;
  background: #779DFF;
  border: none;
  cursor: pointer;
}

.email{
  display: contents;
}

