.wrapper2{
  border: 1px solid red;
}
.wrapper1{
  border: 1px solid red;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  margin-top: 10.37rem;
  margin-left: 4em;
  margin-bottom: 17rem;
}

