.horisontal1 {
  display: flex;
  background: #FFFFFF;
  margin-top: 10.37rem;
}
.horisontal1 .card1 {
  border: 1px solid red;
  margin-left: 396px;
  width: 520px;
}
.horisontal1 .card2 {
  border: 1px solid red;
}
.horisontal1 .mainTextDrawer {
  font-family: Raleway;
  font-size: 4.75em; /* 76px converted to em */
  font-style: normal;
  font-weight: 700;
  line-height: 1.368; /* 104.4% converted to em */
}
.horisontal1 .btnTry {
  width: 15.75rem;
  height: 3.0625rem;
  flex-shrink: 0;
  border-radius: 1.0625rem;
  background: #3C72FF;
  border: none;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.horisontal1 .btnTry h2 {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.horisontal1 .btnTry:hover {
  background: #5684ff;
}
.horisontal1 .btnTry:active {
  background: #2360ff;
}
.horisontal1 .btnTry .btnLearn {
  width: 15.75rem;
  height: 3.0625rem;
  flex-shrink: 0;
  border-radius: 1.0625rem;
  background: #3C72FF;
  border: none;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.horisontal1 .btnTry .btnLearn:hover {
  background: #5684ff;
}
.horisontal1 .btnTry .btnLearn:active {
  background: #2360ff;
}
.horisontal1 .btnTry .btnLearn div {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.horisontal1 .btnTry .btnWhy {
  width: 8.8125rem;
  height: 3.0625rem;
  flex-shrink: 0;
  border-radius: 0.375rem;
  background: #E4ECFF;
  border: none;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.horisontal1 .btnTry .btnWhy:hover {
  background: #eef3ff;
}
.horisontal1 .btnTry .btnWhy:active {
  background: #cbdaff;
}
.horisontal1 .blueDaltter {
  margin-top: 87px;
  background: linear-gradient(262deg, #3C72FF 42.69%, #0065FC 91.14%);
  margin-left: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Raleway;
  font-size: 76px;
  font-style: italic;
  font-weight: 800;
  line-height: 104.4%; /* 79.344px */
}
.horisontal1 .horisontal2 {
  display: flex;
  align-items: center;
}
.horisontal1 .textFuture {
  color: #1F2D49;
  font-family: Raleway;
  font-size: 4.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 104.4%;
}
.horisontal1 .paragraf {
  color: rgba(31, 45, 73, 0.86);
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 108.4%; /* 1.355rem */
}
.horisontal1 .secondLeft {
  padding: 30px;
  margin-right: 28em;
}
.horisontal1 .mainTextDrawer {
  color: #1F2D49;
  font-family: Raleway;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 104.4%; /* 4.176rem */
}
.horisontal1 .clicks {
  color: #cbdaff;
  font-family: Raleway;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 114.9%; /* 1.43625rem */
  width: 29.5rem;
}

.card {
  width: 21.9375rem;
  height: 28.25rem;
  flex-shrink: 0;
  border-radius: 3rem;
  background: #E4ECFF;
  padding-top: 5em;
  margin-right: 2.12em;
}

.standart {
  color: #1F2D49;
  font-family: Raleway;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 104.4%; /* 2.61rem */
}

.Professional {
  color: #1F2D49;
  font-family: Raleway;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 104.4%; /* 2.61rem */
}

.Personal {
  color: #1F2D49;
  font-family: Raleway;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 104.4%; /* 2.61rem */
}

.container {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.textSure {
  justify-content: center;
}

.inputEmails {
  width: 30.25rem;
  height: 5.25rem;
  flex-shrink: 0;
  border-radius: 1.6875rem 0rem 0rem 1.6875rem;
  background: #E4ECFF;
  border: none;
}

.btnBracket {
  width: 5.25rem;
  height: 5.25rem;
  flex-shrink: 0;
  border-radius: 0rem 1.6875rem 1.6875rem 0rem;
  background: #779DFF;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=Main.module.css.map */
