@mixin def($f, $a, $b){
  font-weight: $f;
  font-size: $a;
  line-height: $b;
}

.card_container{
  margin: 80px;
  gap: 2.12rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.card1-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 351px;
  height: auto;
  background-color: #E4ECFF;
  border-radius: 48px;
  text-align: center;
}

.card1 {
  border-radius: 3rem;
  text-align: center;

  & h2 {
    @include def(700, 40px, 41.76px);
    text-align: center;
    margin: 0;
  }

  @media (max-width: 584px) {
    display: flex;
    margin: 0 30px;
    align-items: center;
    flex-direction: column;
    justify-content: right;
  }
}

.plans-container {
  margin-top: 41px;
  margin-bottom: 41px;
}

@media (max-width: 500px) {
  .plans-container {
    margin: 20px; // Уменьшаем отступы для мобильных устройств
  }
}

.price-addit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & .price-number {
    font-family: 'Inter', sans-serif;
    @include def(500, 20px, 20.88px);
    text-decoration: line-through;
    color: #7A8AA9;
    margin: 0;
  }

  & .price-percent {
    font-family: 'Inter', sans-serif;
    @include def(500, 16px, 16.7px);
    color: #67799E;
    background-color: #BDC9E7;
    padding: 0.2rem;
    border-radius: 20px;
    margin: 0;
  }

  @media (max-width: 584px) {
    & .price-number {
      font-size: 16px; // Уменьшаем размер цены на мобильных устройствах
    }
  }
}

.price-main {
  display: flex;
  align-items: center;
  justify-content: center;

  & .text-1{
    margin-top: 6px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    color: #1F2D49;
  }
  & .text-2{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    color: #1F2D49;
  }
}

.preferences {
  height: 165px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  min-height: 175px;
  align-content: center;
  align-items: baseline;
  margin: 34px;
  color: rgba(31, 45, 73, 0.69);
  font-size: 24px;
  font-weight: 700;
  line-height: 104.4%;
  max-width: 279px;
  width: 100%;

  & .personal_text {
    @include def(700, 24px, 104%);
    color: rgba(31, 45, 73, 0.69);
  }

  & .links_check {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;

    & p {
      text-align: left;
      margin: 0;
      @include def(700, 24px, 25.06px);
      color: #1f2d49b2;
    }

    & .text_x {
      padding: 0.2rem;
    }
  }

  @media (max-width: 584px) {
    margin: 20px;
    & .links_check {
      margin-bottom: 10px;
    }
  }
}

.third-btn-try {
  margin-top: 27px;
  display: flex;
  background-color: #3C72FF;
  padding: 10px 92px;
  border-radius: 48px;
  & a{
    text-decoration: none;
    color: #fff;
    @include def(700, 24px, 28.18px);
  }
}
