
@mixin def($f, $a, $b){
  font-weight: $f;
  font-size: $a;
  line-height: $b;
}
footer{
  width: 100%;
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(82,128,198,.12);
    height: 213px;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    & p {
      margin-left: 1rem;
      @include def(700, 20px, 23.48px)
    }
  }
  .footer_text {
    display: flex;
    gap: 1rem;
    & a{
      text-decoration: none;
      @include def(500, 24px, 28.18px);
      color: #00000080;
    }
    @media (max-width: 1120px) {
      @include def(500, 20px, 28.18px);
    }
  }
  .line {
    border-right: 1px solid #0000008a;
  }
  .line1 {
    border-right: 1px solid #0000008a;
    @media (max-width: 1120px) {
      border: none;
    }
    }
  @media (max-width: 1120px) {
    .two_lines {
      gap: 1rem;
      display: flex;
      justify-content: center;

      & a {
        text-decoration: none;
        @include def(500, 24px, 28.18px);
        color: #00000080;
      }
    }
  }
  .two_lines {
    gap: 1rem;
    display: flex;
    justify-content: center;
    & a {
      text-decoration: none;
      @include def(500, 24px, 28.18px);
      color: #00000080;
    }
  }
  @media (max-width: 1120px) {
    .all_links{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  .all_links{
    display: flex;
    gap: 5px;
  }

}