@mixin def($f, $a, $b){
  font-weight: $f;
  font-size: $a;
  line-height: $b;
}


@media (max-width: 1120px) {

  .container {
    margin: 0 auto;
    padding: 0 15px;
    display: grid;
    align-content: center;
    justify-items: center;
  }
  .second_right{
    align-items: center;
    max-width: 520px;
    margin: 0 auto 208px;
    .second_text {
      margin: auto;
      text-align: center;
      width: 18em;
    }
    .second_main {
      text-align: center;
      font-weight: 800;
      line-height: 104.4%;
      width: 80%;
    }

    .second_btn {
      max-width: 392px;
    }
  }
  .leave_email {
    flex-direction: column;
    gap: 0px;
  }
  .daltter_main {
    font-size: 60px;
    line-height: 104.4%;
  }
.hello_left{
  max-width: 520px;
  margin: 0 auto 208px;
}
.second_left {
  display: none;
}

  .hello_right{
    display: none;
}
  .main-third {
    h1 {
      width: 489px;
    }
  }
  .main_fourth  {
    h1 {
      font-size: 35px;
      width: 80%;
    }
    p {
      font-size: 26px;
      width: 80%;
      line-height: 30px;
    }
    .email_address {

      width: 25.9375rem;
    }
  }

}