@charset "UTF-8";

html {
  overflow: scroll;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

input{
  outline: none;
  font-size: 20px;
}

Header{
  display: flex;
  justify-content: flex-start;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}


Header main footer {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.body {

  margin: 0 auto;
  max-width:  1920px;
  min-height: 100%;
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  font-family: "Raleway", system-ui;
  background: #FFF;
  list-style-type: none;
  align-items: stretch;
}

ul {
  list-style-type: none;
}


.navbarBlock {
  flex-wrap: nowrap;
}

.span-text {
  color: black;
  font-family: Raleway;
  font-size: 1.25em; /* 20px converted to em */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dallter-text {
  font-size: 1.25em; /* 20px converted to em */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 0.75em; /* 12px converted to em */
}

.Rectangle {
  border-bottom: 1px solid rgba(82, 128, 198, 0.12);
  background: #FFF;
}

.but-on .sing-up {
  border-radius: 1.0625em;
  height: 2.375em;
  border: none;
  background: #3C72FF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.but-on .sing-up:hover {
  background: #5684ff;
}
.but-on .sing-up:active {
  background: #2360ff;
}
.but-on .sing-up-text {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 1em; /* 16px converted to em */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.but-on .login {
  border-radius: 1.0625em; /* 17px converted to em */
  background: #E4ECFF;
  height: 2.375em; /* 38px converted to em */
  border: none;

  background: #E4ECFF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.but-on .login:hover {
  background: #eef3ff;
}
.but-on .login:active {
  background: #cbdaff;
}
.but-on .login-text {
  color: #3C72FF;
  text-align: center;
  font-family: Raleway;
  font-size: 1em; /* 16px converted to em */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

button {
margin-right: 1em; /* 16px converted to em */
}



  .wrapper {
    display: flex;
    align-items: center;
    background: #FFF;
    margin-top: 8em;
    flex-direction: column;
    width: 515px;
    height: 511px;
    border-radius: 24px;
    background: rgba(228, 236, 255, 0.35);
  }

  .wrapper .future-main {
    padding-right: 16em;
    margin-bottom: 4em;
  }

  .wrapper p {
    color: rgba(31, 45, 73, 0.86);
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 108.4%; /* 21.68px */
    margin-top: 40px;
  }

  .wrapper h1 {
    max-width: 3000px;
    max-height: 2876px;
    font-family: Raleway;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: 104.4%;
  }


  /* Добавьте стили для остальных элементов, таких как текста параграфа и кнопок */
  button {
    /* Ваши стили для кнопок */
  }

  img {
    /* Ваши стили для изображения */
  }

  div {
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    line-height: normal;
  }

  .secondLeft img {
    padding: 12em;
  }



  .Standard {
    display: flex;
    justify-content: space-between;
  }

  .Standard h3 {
    padding-top: 5em;
    margin-right: 11em;
  }

  .textStand {
    color: #1F2D49;
    font-family: Raleway;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 104.4%; /* 2.61rem */
  }
