@mixin def($f, $a, $b) {
  font-weight: $f;
  font-size: $a;
  line-height: $b;
}

.main {
  flex: 1 1 auto;
}

.main_first {
  padding-top: 15vh;
  display: flex;
  gap: 34px;
  align-items: center;
  max-width: 1120px;
  margin: 5rem auto 0;
}

.hello_left {
  display: flex;
  text-align: left;
  flex-direction: column;
}

.btn_first {
  display: flex;
}

.btn_try {
  display: inline-block;
  border: 1px solid transparent;
  background: #3C72FF;
  color: #fff;
  padding: 0.7rem 4.375rem;
  text-decoration: none;
  border-radius: 17px;
  cursor: pointer;
  @include def(700, 24px, 28.18px);
  transition: all 0.3s;

  &:hover {
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
  }
}

.btn_why {
  display: inline-block;
  border: none;
  cursor: pointer;
  background: #E4ECFF;
  color: #3C72FF;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  border-radius: 6px;
  @include def(700, 24px, 28.18px);
}

.daltter_main {
  margin-top: 0;
  margin-bottom: 12px;
  color: #1F2D49;
  @include def(800, 76px, 79.34px);
}

.email_main {
  margin-top: 12px;
  max-width: 403px;
  width: 100%;
  color: rgba(31, 45, 73, 0.86);
  font-family: Raleway;
  font-size: 20px;
  font-weight: 600;
}

.main_second {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  max-height: 507px;
  margin: 180px auto 0;
  gap: 108px;
}

.second_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  & span {
    color: #3C72FF;
    font-style: italic;
  }

  .second_main {
    margin: 0;
    color: #1F2D49;
    text-align: left;
    @include def(800, 64px, 66.82px);
  }

  .second_text {
    margin: 0;
    text-align: left;
    @include def(600, 20px, 22.98px);
  }

  .second_btn {
    align-items: center;
    background-color: #3c72ff;
    border: 1px solid transparent;
    border-radius: 17px;
    display: flex;
    height: 49px;
    justify-content: center;
    max-width: 252px;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
    @include def(700, 20px, 1.368);

    &:hover {
      background-color: transparent;
      border: 1px solid blue;
      color: blue;

      h2 {
        color: blue;
      }
    }
  }

  .second_try_button {
    color: #FFF;
    @include def(700, 20px, 1.368);
  }
}

.main-third {
  & h1 {
    @include def(800, 48px, 50.11px);
    color: #3C72FF;
    margin-top: 197px;
  }
}

.card_container {
  margin: 80px;
  gap: 2.12rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
}

.leave_email {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 21px;
}
.dallter_text {
  color: #3C72FF;
  font-style: italic;
  font-weight: 800;
}

.email_address {
  background-color: #E4ECFF;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border: none;
  @include def(500, 28px, 29.23px);
  padding: 1rem 2rem;
  color: rgba(0, 0, 0, 0.476);
}

.email_input {
  display: flex;
}

.card {
  background-color: #e4ecff;
  border-radius: 48px;
  display: flex;
  width: 351px;
  height: 452px;
  justify-content: center;
  flex-direction: column;
}

.textP {
  color: #1f2d49;
  font-size: 40px;
  font-weight: 700;
}

.card2 {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.main-third {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & h1 {
    @include def(800, 48px, 50.11px);
    color: #3C72FF;
    margin-top: 197px;
    margin-bottom: 0;
    text-align: center;
  }
}

.card1 {
  display: flex;
  border-radius: 3rem;
  text-align: center;
  align-items: center;
  margin: auto;
  flex-direction: column;

  & h2 {
    @include def(700, 40px, 41.76px);
    margin: 0;
  }
}

.card1-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  max-width: 140%;
  height: auto;
  background-color: #E4ECFF;
  border-radius: 48px;
  text-align: center;
}

.price-main {
  display: flex;
  align-items: center;
  justify-content: center;

  & .text-1 {
    margin-top: 6px;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    color: #1F2D49;
  }

  & .text-2 {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    color: #1F2D49;
  }
}


.third_btn_contact {
  align-items: center;
  border: none;
  background-color: #3c72ff;
  margin: 0 auto;
  border-radius: 48px;
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 49px;
  justify-content: center;
  max-width: 296px;
  text-decoration: none;
  transition: .2s;
  width: 100%;

  & a {
    text-decoration: none;
    color: #fff;
    @include def(700, 24px, 28.18px);
  }
}

.email_address {
  width: 30.25rem;
  height: 5.25rem;
}

.main_fourth {
  margin-top: 10.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h1 {
    @include def(700, 40px, 41.76px);
  }

  & p {
    @include def(500, 40px, 41.76px);
  }
}

.third-btn-contact {
  cursor: pointer;
  align-items: center;
  border: none;
  background-color: #3c72ff;
  margin: 0 auto;
  border-radius: 48px;
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  height: 49px;
  justify-content: center;
  max-width: 296px;
  text-decoration: none;
  transition: .2s;
  width: 100%;

  & a {
    text-decoration: none;
    color: #fff;
    @include def(700, 24px, 28.18px);
  }

  /* Hover effect */
  &:hover {
    background-color: transparent;
    border: 1px solid blue;
    & a {
      color: blue;
    }
  }

  @media (max-width: 1120px) {
    margin: 0 30px;
    width: 90%;
  }
}